.courses-area{
    display: grid;
    margin: 10px 50px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    justify-items: center;
}
.courses-title{
    text-align: center;
    margin: 16px 0;
    font-weight: bold;
    font-size: 20px;
}
.course-area img{
    width: 100%;
}
/* .course-img{
    position: relative;
} */
.course-area p{
    padding: 8px 0;
}
a{
    color: white;
    text-decoration: none;
}