.about-area{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding: 8px 16px;
}
.about-content{
   align-self: center;
}
.about-content h2{
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
}
.about-content p{
    margin-bottom: 20px;
}
about-img{

}



/* gallery-grid */
.gallery{    
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,2fr);
}
.gallery img{
    width: 100%;
}
.horizontal{
    
}
.vertical{

}
.big{
    
}






















